.mantrabrain-customizer-buttonset .buttonset {
    display: inline-block;
}

.mantrabrain-customizer-buttonset .buttonset .switch-label {
    float: left;
    background-color: #f5f5f5;
    color: #555;
    border: 1px solid #a4afb7;
    padding: 8px 18px;
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-right: -1px;
}

.mantrabrain-customizer-buttonset .buttonset .switch-input {
    display: none;
}

.mantrabrain-customizer-buttonset .buttonset .switch-input:checked + .switch-label {

    background-color: #a4afb7;
    border: 1px solid #a4afb7;
    color: #ffffff;
    box-shadow: none;
}