.appearance_page_yatri #wpcontent {
    padding-left: 0;
}

.appearance_page_yatri #wpcontent .wrap {
    margin: 10px 20px 0 20px;
}

@media screen and (max-width: 782px) {
    .appearance_page_yatri #wpcontent .wrap {
        margin-right: 12px;
        margin-left: 12px;
    }
}

.mb-about-menu-tabs ul.tab-menu li {
    display: inline-block;;
    margin: 0;
}

.mb-about-menu-tabs ul.tab-menu li:last-child:after {
    content: none;
}

.mb-about-menu-tabs ul.tab-menu li a {
    text-decoration: none;
    font-weight: 400;
}

.mb-about-menu-tabs ul.tab-menu li.active a,
.mb-about-menu-tabs ul.tab-menu li:hover a {
    font-weight: bold;
}

.mb-about-menu-tabs ul.tab-menu li:after {
    content: '';
    border-right: 1px solid #aaa;
    margin-left: 10px;
    line-height: 1em;
}

.mb-about-hide {
    display: none !important;
}

.mb-about-hidden-heading {
    display: none;
}

.mb-about-branding {
    display: inline-block;
    text-decoration: none;
    outline: none;
    vertical-align: middle;
}

.mb-about-branding img {
    max-width: 150px;
    display: block;
}

.mb-about-version {
    margin-left: 10px;
    background-color: #e5e5e5;
    padding: 2px 7px;
    border-radius: 3px;
    margin-top: 10px;
}

.mb-about-top-link {
    margin-left: 10px;
}

.mb-about-row {
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.mb-about-row * {
    box-sizing: border-box;
}

.mb-about-row:after {
    content: '';
    clear: both;
    display: block;
}

.mb-about-row.metabox-holder {
    margin-top: 20px;
}

.mb-about-header {
    margin-left: -20px;
    background: #ffffff;
    padding: 5px 15px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.mb-about-header .mb-about-header-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.mb-about-main {
    width: 70%;
    float: left;
    padding-right: 30px;
}

@media screen and (max-width: 782px) {
    .mb-about-main {
        width: 100%;
        float: none;
        padding-right: 0px;
    }
}

.mb-about-sidebar {
    width: 30%;
    float: right;
}

@media screen and (max-width: 782px) {
    .mb-about-sidebar {
        width: 100%;
        float: none;
    }
}

.mb-about-box {
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    background: #fff;
    margin-bottom: 30px;
}

.mb-about-menu-tabs .mb-about-box {
    margin-bottom: 5px;
}

@media screen and (max-width: 782px) {
    .mb-about-box {
        margin-bottom: 15px;
    }
}

.mb-about-box .mb-about-box-top {

    font-size: 14px;
    padding: 12px 15px;
    font-weight: 600;
    color: #fff;
    background: #4285f4;
}

.mb-about-box.pro .mb-about-box-top {

}

.mb-about-box .mb-about-box-top .mb-about-upgrade {
    float: right;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.mb-about-box .mb-about-box-content {
    padding: 15px;
}

.mb-about-box .mb-about-box-content p {
    margin-top: 0px;
}

.mb-about-box .mb-about-sites-thumb img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #eee;
}

.mb-about-list-flex {
    list-style: none;
    margin: -15px;
}

.mb-about-list-flex:after {
    content: '';
    clear: both;
    display: block;
}

.mb-about-list-flex a {
    text-decoration: none;
}

.mb-about-list-flex li {
    width: 50%;
    float: left;
    border-bottom: 1px solid #eee;
    margin-bottom: 0px;
    border-right: 1px solid #eee;
    padding: 12px 15px;
}

.mb-about-list-flex li:nth-child(2n) {
    border-right: 0px none;
}

.action-btn {
    display: inline-block;
}

.plugin-detail {
    display: inline-block;
    margin: 0 25px;
}

.yatri-notice-wrapper .yatri-notice-img img {
    border-radius: 0;
}

.yatri-notice-wrapper .yatri-install-all-plugins.updating-message:before {

    line-height: 21px;
    margin-left: 0;
    margin-right: 0;
    float: right;
}

.yatri-notice-wrapper .yatri-install-all-plugins:hover {
    text-decoration: none;
    background: #0071a1;
    border-color: #0071a1;
    color: #fff;
}

.mb-about-modules.mb-about-box-content a {
    cursor: pointer;
}

.mb-about-modules.mb-about-box-content {
    padding: 0px;
}

.mb-about-modules .mb-about-module-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding: 16px 15px;
    border-bottom: 1px solid #eee;
}

.mb-about-modules .mb-about-module-item.mb-about-sub-module {
    padding-left: 50px;
}

.mb-about-modules .mb-about-module-item:last-child {
    margin-bottom: 0px;
}

.mb-about-modules .mb-about-module-toggle {
    -webkit-flex-basis: 40px;
    flex-basis: 40px;
    display: block;
    float: left;
}

.mb-about-modules .mb-about-module-info {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    position: relative;
    padding-right: 100px;
}

.mb-about-modules .mb-about-module-info .mb-about-module-name {
    font-weight: 500;
}

.mb-about-modules .mb-about-module-info .mb-about-module-name .mb-about-toggle-disable-notice {
    font-weight: 400;
    margin-left: 15px;
    font-style: italic;
}

.mb-about-modules .mb-about-module-desc {
    margin-top: 10px;
    font-style: italic;
}

.mb-about-modules .mb-about-module-doc-link {
    position: absolute;
    top: 0px;
    right: 0px;
}

.onoffswitch {
    position: relative;
    width: 25px;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none !important;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0px none;
    border-radius: 10px;
    position: relative;
    top: 3px;
    -webkit-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
    opacity: 1;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    -webkit-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 15px;
    padding: 0;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #00aadc;
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #a8bece;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 11px;
    margin: 0px 3px 0px 1px;
    background: #FFFFFF;
    position: absolute;
    top: 2px;
    bottom: 2px;
    right: 8px;
    border-radius: 10px;
    -webkit-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.onoffswitch-checkbox:disabled + .onoffswitch-label {
    opacity: 0.4;
    cursor: default;
}

.toast-title {
    font-weight: bold;
}

.toast-message {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.toast-message a,
.toast-message label {
    color: #ffffff;
}

.toast-message a:hover {
    color: #cccccc;
    text-decoration: none;
}

.toast-close-button {
    position: relative;
    right: -2px;
    top: -2px;
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    -webkit-text-shadow: 0 1px 0 #ffffff;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.8;
    background: none;
    border: none;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: alpha(opacity=80);
}

.toast-close-button:hover,
.toast-close-button:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    filter: alpha(opacity=40);
}

.toast-top-right {
    top: 60px;
    right: 12px;
}

#toast-container {
    position: fixed;
    z-index: 999999;
    /*overrides*/
}

#toast-container * {
    box-sizing: border-box;
}

#toast-container > div {
    position: relative;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 7px 7px 7px 40px;
    line-height: 24px;
    background-size: 16px 16px;
    width: 260px;
    border-radius: 3px 3px 3px 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    box-shadow: 0 0 12px #999999;
    color: #ffffff;
    filter: alpha(opacity=80);
}

#toast-container > div:hover {
    box-shadow: 0 0 12px #000000;
    opacity: 1;
    cursor: pointer;
}

#toast-container > .toast-info {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important;
}

#toast-container > .toast-error {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=") !important;
}

#toast-container > .toast-success {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==") !important;
}

#toast-container > .toast-warning {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=") !important;
}

#toast-container.toast-top-center > div,
#toast-container.toast-bottom-center > div {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width > div {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

.toast {
    background-color: #030303;
}

.toast-success {
    background-color: #51a351;
}

.toast-error {
    background-color: #bd362f;
}

.toast-info {
    background-color: #2f96b4;
}

.toast-warning {
    background-color: #f89406;
}

.toast-progress {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background-color: #000000;
    opacity: 0.4;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    filter: alpha(opacity=40);
}

.mb-about-list-item {
    margin: 0 -15px;
    padding: 15px 15px 15px;
    border-bottom: 1px solid #eee;
}

.mb-about-list-item:first-child {
    padding-top: 0px;
}

.mb-about-list-item:last-child {
    border-bottom: 0px;
    padding-bottom: 0px;
}

.mb-about-list-item .mb-about-list-name {
    font-weight: 500;
}

.mb-about-list-item .mb-about-list-desc {
    margin-bottom: 1em;
}

.mb-about-list-item .rcp {
    margin-bottom: 0px;
}

.mb-about-list-item .rcp p {
    margin-bottom: 0px;
}

.yatri-notice-wrapper.notice .notice-dismiss {
    top: 5px;
    right: 5px;
}

.yatri-notice {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 0
}

.yatri-notice a {
    color: #f56e28;
    font-weight: 600;
}

.yatri-notice .yatri-notice-img {
    padding-right: 30px;
    padding-left: 15px;
}

.yatri-notice .yatri-notice-img img {
    max-width: 140px;
}

.yatri-notice .yatri-notice-content {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    padding: 15px;
}

.yatri-notice .yatri-notice-heading {
    font-size: 18px;
    line-height: 25px;
}

.mb-about-box-content input[type="text"],
.mb-about-box-content input[type="number"],
.mb-about-box-content input[type="password"],
.mb-about-box-content input[type="email"],
.mb-about-box-content input[type="email"] {
    display: block;
    max-width: 100%;
}

.yatri-msg .error {
    color: #dc3232;
}

.yatri-msg .success {
    color: #46b450;
}

.copy-settings-form .submit-field {
    margin-top: 10px;
}

.copy-theme-settings {
    position: relative;
}
