.control-section-yatri-pro h3 {
    margin: 0;
    padding: 1px 0;
    border: 0;
    position: relative;
}

.control-section-yatri-pro h3 a {
    background: #fff;
    display: block;
    padding: 11px 10px 12px 14px;
    text-decoration: none;
}

#accordion-section-freemius_upsell {
    display: none !important;
}
