
// Variables for font family

$primary_font_family 			: 'Roboto', sans-serif;
$secondary_font_family 			: 'Poppins', sans-serif;
$special_font					: 'Lato', sans-serif;


// Variables line-height 

$body_line_height				: 1.6;	
$body_heading_line_height		: 1.2;  // Refers to h1,h2,h3,h4,h5,h6 


// Variables for font weight

$body_font_weight				: normal;
$body_heading_font_weight		: 600;


// Variables for font sizes

$body_font_size					: 15px; 


// letter spacing 

$body_letter_spacing 			:0.15px;
$heading_letter_spacing			:0;














