// Spacing variables

$header_spacing: 50px;

$sections_spacing: 60px;

$woo_common_section_spacing: 60px;

$standard_inner_spacing: 30px;

$standard_widget_padding: 10px;

$full_width_padding: 0px 30px;

