.yatri-field-settings-wrap .customize-control-yatri-heading {
    margin: 0px 0 15px 0;
}

.accordion-section-content.open .customize-control-yatri-heading:nth-child(2),
.accordion-section-content.open .customize-control-yatri-heading:nth-child(3) {
    margin-top: 0;
}

.customize-control-yatri-heading {
    margin-top: 20px;
    margin-bottom: 8px;
}

.customize-control-yatri-heading .yatri-heading-wrapper {
    margin: 0 -12px;
    margin-bottom: 20px;
}

.customize-control-yatri-heading .customize-control-title {
    display: block;
    padding: 13px 12px;
    margin: 0;
    border-width: 1px 0;
    border-style: solid;
    border-color: #ddd;
    background-color: #fff;
    font-size: 11.5px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1;
    text-transform: uppercase;
}

.customize-control-yatri-heading .customize-control-caption {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    right: 0;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 1px;
}

.customize-control-yatri-heading .customize-control-description {
    margin-top: 10px;
}