#ast_related .panel-container .rel_tab{ float: right;}
.edit_wrap a {right: auto;left: 0;}
#searchsubmit{ left:0;}
#topmenu ul li span{ padding-right:5px; padding-left:0px;}
.layer_rtl .single_wrap, .layer_rtl .lay4_wrap{float: right;}
.lay4_wrap.left_sidebar {float: right;}
.lay4 .post_image{float: right; margin-right:0; margin-left:2%;}
.single_metainfo .fa-calendar{display: none; }
.tabs li{ float:right;}
.act_left{ float:right;}
.lts_scs:before, .lts_info:before, .lts_wng:before, .lts_err:before{ float:right; margin-left:5px; margin-right:0;}
.comment-body{ float:right;}
a.comment-edit-link{left: 0; right:auto;}
.org_comment{ float:none;}
.comm_date i{padding-left: 5px;}
.commentlist #respond{ float:right;}
.thn_wgt_thumb{ float:right; margin-left:3%; margin-right:0;}
.widget_content{text-align: right;}

